USE [master]
GO
/****** Object:  Database [team2]    Script Date: 2021/11/17 下午 09:27:36 ******/
CREATE DATABASE [team2]
 WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [team2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [team2]
GO
USE [team2]
GO
/****** Object:  Table [dbo].[Hashtag]    Script Date: 2021/11/17 下午 09:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hashtag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[名稱] [nvarchar](50) NOT NULL,
	[類別] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Hashtag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[圖片]    Script Date: 2021/11/17 下午 09:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[圖片](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[上傳用戶_FK] [int] NULL,
	[路徑] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_圖片] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[提問]    Script Date: 2021/11/17 下午 09:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[提問](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[問題] [nvarchar](max) NOT NULL,
	[回答] [nvarchar](max) NOT NULL,
	[提問用戶_FK] [int] NULL,
 CONSTRAINT [PK_提問] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[文章]    Script Date: 2021/11/17 下午 09:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[文章](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[標題] [nvarchar](50) NOT NULL,
	[作者用戶_FK] [int] NULL,
	[內容] [nvarchar](max) NOT NULL,
	[日期起始] [datetime] NOT NULL,
	[日期結束] [datetime] NOT NULL,
	[圖片_FK] [int] NULL,
	[地點] [nvarchar](max) NOT NULL,
	[接待人數] [int] NOT NULL,
	[類型] [nvarchar](50) NULL,
	[點數] [int] NOT NULL,
	[文章註冊時間] [smalldatetime] NULL,
 CONSTRAINT [PK_文章] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[文章Hashtag]    Script Date: 2021/11/17 下午 09:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[文章Hashtag](
	[文章_FK] [int] NOT NULL,
	[Hashtag_FK] [int] NOT NULL,
 CONSTRAINT [PK_文章Hashtag] PRIMARY KEY CLUSTERED 
(
	[文章_FK] ASC,
	[Hashtag_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[旅程包]    Script Date: 2021/11/17 下午 09:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[旅程包](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[標題] [nvarchar](50) NOT NULL,
	[描述] [nvarchar](max) NOT NULL,
	[作者用戶_FK] [int] NULL,
 CONSTRAINT [PK_旅程包] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[旅程包_link]    Script Date: 2021/11/17 下午 09:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[旅程包_link](
	[旅程包_FK] [int] NOT NULL,
	[文章_FK] [int] NOT NULL,
	[索引] [int] NOT NULL,
 CONSTRAINT [PK_旅程包_link_1] PRIMARY KEY CLUSTERED 
(
	[旅程包_FK] ASC,
	[索引] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[用戶]    Script Date: 2021/11/17 下午 09:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[用戶](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[帳號] [nvarchar](50) NOT NULL,
	[密碼] [nvarchar](50) NOT NULL,
	[名字] [nvarchar](50) NOT NULL,
	[手機] [nvarchar](50) NOT NULL,
	[註冊日期] [nvarchar](50) NOT NULL,
	[大頭貼] [nvarchar](max) NOT NULL,
	[點數] [int] NOT NULL,
 CONSTRAINT [PK_用戶] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[用戶Favorite]    Script Date: 2021/11/17 下午 09:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[用戶Favorite](
	[收藏文章_FK] [int] NOT NULL,
	[用戶_FK] [int] NOT NULL,
 CONSTRAINT [PK_用戶Favorite] PRIMARY KEY CLUSTERED 
(
	[收藏文章_FK] ASC,
	[用戶_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[用戶Hashtag]    Script Date: 2021/11/17 下午 09:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[用戶Hashtag](
	[用戶_FK] [int] NOT NULL,
	[Hashtag_FK] [int] NOT NULL,
 CONSTRAINT [PK_用戶Hashtag] PRIMARY KEY CLUSTERED 
(
	[用戶_FK] ASC,
	[Hashtag_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[評級]    Script Date: 2021/11/17 下午 09:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[評級](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[分數] [int] NOT NULL,
	[評分用戶_FK] [int] NULL,
	[文章_FK] [int] NULL,
	[評論] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_評級] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Hashtag] ON 

INSERT [dbo].[Hashtag] ([Id], [名稱], [類別]) VALUES (1, N'自然', N'愛好')
INSERT [dbo].[Hashtag] ([Id], [名稱], [類別]) VALUES (2, N'樂園', N'愛好')
INSERT [dbo].[Hashtag] ([Id], [名稱], [類別]) VALUES (3, N'水上', N'愛好')
SET IDENTITY_INSERT [dbo].[Hashtag] OFF
GO
SET IDENTITY_INSERT [dbo].[圖片] ON 

INSERT [dbo].[圖片] ([Id], [上傳用戶_FK], [路徑]) VALUES (1, 1, N'image_7.jpg')
INSERT [dbo].[圖片] ([Id], [上傳用戶_FK], [路徑]) VALUES (2, 2, N'image_9.jpg')
INSERT [dbo].[圖片] ([Id], [上傳用戶_FK], [路徑]) VALUES (3, 6, N'image_8.jpg')
SET IDENTITY_INSERT [dbo].[圖片] OFF
GO
SET IDENTITY_INSERT [dbo].[提問] ON 

INSERT [dbo].[提問] ([Id], [問題], [回答], [提問用戶_FK]) VALUES (2, N'我可以用任何幣別付款嗎？', N'目前只提供使用點數(point)支付', 1)
INSERT [dbo].[提問] ([Id], [問題], [回答], [提問用戶_FK]) VALUES (3, N'取消須於幾天前?', N'取消至少須於前一天，方得不扣手續費', 2)
SET IDENTITY_INSERT [dbo].[提問] OFF
GO
SET IDENTITY_INSERT [dbo].[文章] ON 

INSERT [dbo].[文章] ([Id], [標題], [作者用戶_FK], [內容], [日期起始], [日期結束], [圖片_FK], [地點], [接待人數], [類型], [點數], [文章註冊時間]) VALUES (1, N'在地建築導覽', 1, N'衛武營這塊土地曾是軍事培育中心、公園，到現在成為臺灣近40年來最巨大的文化建設，蘊含南臺灣對表演藝術的渴望與想像，流線型的建築外觀，這裡每一個工項都是臺灣史無前例的挑戰，更是全世界最大單一屋頂劇院建築體。 By衛武營國家藝術文化中心', CAST(N'2021-10-18T16:30:00.000' AS DateTime), CAST(N'2021-10-19T16:30:00.000' AS DateTime), 1, N'高雄市鳳山區', 3, N'trip', 500, NULL)
INSERT [dbo].[文章] ([Id], [標題], [作者用戶_FK], [內容], [日期起始], [日期結束], [圖片_FK], [地點], [接待人數], [類型], [點數], [文章註冊時間]) VALUES (2, N'高雄文化散步', 1, N'絹印體驗 + 復刻糖鐵記憶 + 台塑高雄廠區工業遺址時光之旅 + 戰爭文史地景踏查‧鐵馬一日遊 + 海之濱‧尋憶打狗港 + 山之腹‧走讀壽山公園史跡 深入高雄文化資產景點，以散步體驗為活動宗旨，推出導覽、體驗活動漫步於高雄哈瑪星、左營舊城、旗山、前鎮以及旗津地區。By 文化部文化資產局', CAST(N'2021-10-17T09:00:00.000' AS DateTime), CAST(N'2021-10-18T12:00:00.000' AS DateTime), 2, N'高雄市新興區', 1, N'trip', 500, NULL)
INSERT [dbo].[文章] ([Id], [標題], [作者用戶_FK], [內容], [日期起始], [日期結束], [圖片_FK], [地點], [接待人數], [類型], [點數], [文章註冊時間]) VALUES (3, N'以美食換故事', 1, N'一個餐桌多個故事，我分享美食，你分享故事。', CAST(N'2021-10-17T13:00:00.000' AS DateTime), CAST(N'2021-10-17T15:30:00.000' AS DateTime), 3, N'高雄市鼓山區', 2, N'food', 0, NULL)
SET IDENTITY_INSERT [dbo].[文章] OFF
GO
INSERT [dbo].[文章Hashtag] ([文章_FK], [Hashtag_FK]) VALUES (1, 6)
INSERT [dbo].[文章Hashtag] ([文章_FK], [Hashtag_FK]) VALUES (1, 7)
INSERT [dbo].[文章Hashtag] ([文章_FK], [Hashtag_FK]) VALUES (1, 9)
GO
SET IDENTITY_INSERT [dbo].[旅程包] ON 

INSERT [dbo].[旅程包] ([Id], [標題], [描述], [作者用戶_FK]) VALUES (1, N'11月行程', N'為期一個禮拜之行程，包括高雄在地美食走訪', 1)
INSERT [dbo].[旅程包] ([Id], [標題], [描述], [作者用戶_FK]) VALUES (2, N'AAAAAAAA', N'AAAAAAAA', 1)
INSERT [dbo].[旅程包] ([Id], [標題], [描述], [作者用戶_FK]) VALUES (3, N'AAAAAAAAA', N'AAAAAAAA', 1)
SET IDENTITY_INSERT [dbo].[旅程包] OFF
GO
INSERT [dbo].[旅程包_link] ([旅程包_FK], [文章_FK], [索引]) VALUES (4, 1, 1)
INSERT [dbo].[旅程包_link] ([旅程包_FK], [文章_FK], [索引]) VALUES (4, 1, 2)
INSERT [dbo].[旅程包_link] ([旅程包_FK], [文章_FK], [索引]) VALUES (4, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[用戶] ON 

INSERT [dbo].[用戶] ([Id], [帳號], [密碼], [名字], [手機], [註冊日期], [大頭貼], [點數]) VALUES (1, N'asdf123@gmail.com', N'asdf', N'Alice', N'0912901235', N'2000-01-01', N'1.jpg', 200)
INSERT [dbo].[用戶] ([Id], [帳號], [密碼], [名字], [手機], [註冊日期], [大頭貼], [點數]) VALUES (2, N'TESTAAA@gmail.com', N'1234AAA', N'王小蓉', N'0912345677', N'2021-10-17 07:41:51', N'1.jpg', 10)
INSERT [dbo].[用戶] ([Id], [帳號], [密碼], [名字], [手機], [註冊日期], [大頭貼], [點數]) VALUES (4, N'TESTBBB@gmail.com', N'1234BBB', N'Andy', N'0988120123', N'2021-10-18 16:30:00', N'1.jpg', 50)
SET IDENTITY_INSERT [dbo].[用戶] OFF
GO
INSERT [dbo].[用戶Favorite] ([收藏文章_FK], [用戶_FK]) VALUES (1, 2)
INSERT [dbo].[用戶Favorite] ([收藏文章_FK], [用戶_FK]) VALUES (1, 4)
INSERT [dbo].[用戶Favorite] ([收藏文章_FK], [用戶_FK]) VALUES (1, 6)
GO
INSERT [dbo].[用戶Hashtag] ([用戶_FK], [Hashtag_FK]) VALUES (1, 1)
INSERT [dbo].[用戶Hashtag] ([用戶_FK], [Hashtag_FK]) VALUES (1, 2)
INSERT [dbo].[用戶Hashtag] ([用戶_FK], [Hashtag_FK]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[評級] ON 

INSERT [dbo].[評級] ([Id], [分數], [評分用戶_FK], [文章_FK], [評論]) VALUES (1, 100, 42, 2, N'好啊')
INSERT [dbo].[評級] ([Id], [分數], [評分用戶_FK], [文章_FK], [評論]) VALUES (2, 10, 42, 5, N'好ㄘ')
INSERT [dbo].[評級] ([Id], [分數], [評分用戶_FK], [文章_FK], [評論]) VALUES (3, 20, 42, 5, N'真的好ㄘ')
SET IDENTITY_INSERT [dbo].[評級] OFF
GO
ALTER TABLE [dbo].[文章] ADD  CONSTRAINT [DF_文章_點數]  DEFAULT ((0)) FOR [點數]
GO
ALTER TABLE [dbo].[用戶] ADD  CONSTRAINT [DF_用戶_註冊日期]  DEFAULT (getdate()) FOR [註冊日期]
GO
ALTER TABLE [dbo].[用戶] ADD  CONSTRAINT [DF_用戶_大頭貼]  DEFAULT (N'初始照片.jpg') FOR [大頭貼]
GO
ALTER TABLE [dbo].[用戶] ADD  CONSTRAINT [DF_用戶_點數]  DEFAULT ((0)) FOR [點數]
GO
ALTER TABLE [dbo].[評級] ADD  CONSTRAINT [DF_評級_評論]  DEFAULT ('') FOR [評論]
GO
ALTER TABLE [dbo].[圖片]  WITH CHECK ADD  CONSTRAINT [FK_圖片_圖片] FOREIGN KEY([上傳用戶_FK])
REFERENCES [dbo].[用戶] ([Id])
GO
ALTER TABLE [dbo].[圖片] CHECK CONSTRAINT [FK_圖片_圖片]
GO
ALTER TABLE [dbo].[提問]  WITH CHECK ADD  CONSTRAINT [FK_提問_用戶] FOREIGN KEY([提問用戶_FK])
REFERENCES [dbo].[用戶] ([Id])
GO
ALTER TABLE [dbo].[提問] CHECK CONSTRAINT [FK_提問_用戶]
GO
ALTER TABLE [dbo].[文章Hashtag]  WITH CHECK ADD  CONSTRAINT [FK_文章Hashtag_Hashtag] FOREIGN KEY([Hashtag_FK])
REFERENCES [dbo].[Hashtag] ([Id])
GO
ALTER TABLE [dbo].[文章Hashtag] CHECK CONSTRAINT [FK_文章Hashtag_Hashtag]
GO
ALTER TABLE [dbo].[文章Hashtag]  WITH CHECK ADD  CONSTRAINT [FK_文章Hashtag_文章] FOREIGN KEY([文章_FK])
REFERENCES [dbo].[文章] ([Id])
GO
ALTER TABLE [dbo].[文章Hashtag] CHECK CONSTRAINT [FK_文章Hashtag_文章]
GO
ALTER TABLE [dbo].[旅程包]  WITH CHECK ADD  CONSTRAINT [FK_旅程包_用戶] FOREIGN KEY([作者用戶_FK])
REFERENCES [dbo].[用戶] ([Id])
GO
ALTER TABLE [dbo].[旅程包] CHECK CONSTRAINT [FK_旅程包_用戶]
GO
ALTER TABLE [dbo].[旅程包_link]  WITH CHECK ADD  CONSTRAINT [FK_旅程包_link_文章] FOREIGN KEY([文章_FK])
REFERENCES [dbo].[文章] ([Id])
GO
ALTER TABLE [dbo].[旅程包_link] CHECK CONSTRAINT [FK_旅程包_link_文章]
GO
ALTER TABLE [dbo].[旅程包_link]  WITH CHECK ADD  CONSTRAINT [FK_旅程包_link_旅程包] FOREIGN KEY([旅程包_FK])
REFERENCES [dbo].[旅程包] ([Id])
GO
ALTER TABLE [dbo].[旅程包_link] CHECK CONSTRAINT [FK_旅程包_link_旅程包]
GO
ALTER TABLE [dbo].[用戶Favorite]  WITH CHECK ADD  CONSTRAINT [FK_用戶Favorite_文章] FOREIGN KEY([收藏文章_FK])
REFERENCES [dbo].[文章] ([Id])
GO
ALTER TABLE [dbo].[用戶Favorite] CHECK CONSTRAINT [FK_用戶Favorite_文章]
GO
ALTER TABLE [dbo].[用戶Favorite]  WITH CHECK ADD  CONSTRAINT [FK_用戶Favorite_用戶] FOREIGN KEY([用戶_FK])
REFERENCES [dbo].[用戶] ([Id])
GO
ALTER TABLE [dbo].[用戶Favorite] CHECK CONSTRAINT [FK_用戶Favorite_用戶]
GO
ALTER TABLE [dbo].[用戶Hashtag]  WITH CHECK ADD  CONSTRAINT [FK_用戶Hashtag_Hashtag] FOREIGN KEY([Hashtag_FK])
REFERENCES [dbo].[Hashtag] ([Id])
GO
ALTER TABLE [dbo].[用戶Hashtag] CHECK CONSTRAINT [FK_用戶Hashtag_Hashtag]
GO
ALTER TABLE [dbo].[用戶Hashtag]  WITH CHECK ADD  CONSTRAINT [FK_用戶Hashtag_用戶] FOREIGN KEY([用戶_FK])
REFERENCES [dbo].[用戶] ([Id])
GO
ALTER TABLE [dbo].[用戶Hashtag] CHECK CONSTRAINT [FK_用戶Hashtag_用戶]
GO
ALTER TABLE [dbo].[評級]  WITH CHECK ADD  CONSTRAINT [FK_評級_文章] FOREIGN KEY([文章_FK])
REFERENCES [dbo].[文章] ([Id])
GO
ALTER TABLE [dbo].[評級] CHECK CONSTRAINT [FK_評級_文章]
GO
ALTER TABLE [dbo].[評級]  WITH CHECK ADD  CONSTRAINT [FK_評級_用戶] FOREIGN KEY([評分用戶_FK])
REFERENCES [dbo].[用戶] ([Id])
GO
ALTER TABLE [dbo].[評級] CHECK CONSTRAINT [FK_評級_用戶]
GO
USE [master]
GO
